/* Add some global styles here! */

:root {
  --light-accent: #f2e9e4;
  --dark-accent: #d7bbac;
  --primary: #5289a3;
  --secondary: #375b6d;
  --on-secondary: #e3ebf6;
  --on-primary: #0e171b;

  --md-sys-color-primary: var(--secondary);
  
  background-color: var(--primary);
}


button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
